{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "styles/material.css" %}">
  </head>
  <body>
    {% include "components/app-bar-top.html" %}
    {% block content %}
    {% endblock content %}
    {% include "components/footer.html" %}
  </body>
</html>
